@model SMS.ViewModel.Student.StudentViewModel


@{
	ViewData["Title"] = "Student";
}

<div class="full-body">
    <div id="heading" class="main-heading"><h2>Students</h2></div>
    <div class="panel container-fluid mb-5" id="hidable_details">
        <div class="panel-heading d-flex align-items-center justify-content-between">
            <div>
                <button id="addNew" class="btn me-3 text-light">Add New Student</button>
            </div>
            <div>
                @* <button type="button" class="btn btn-primary" onclick="downloadExcel()">Download Excel</button> *@
                <button id="downloadExcelButton" class="btn pdf-btn text-light">Download Excel</button>
                
                <button class="btn me-2 pdf-btn text-light" onclick="window.location.href='@Url.Action("DownloadPdf", "Student")'">Download PDF</button>
            </div>
            
            <div class="d-flex align-items-center">
                <form class="d-flex" id="paginationForm">
                    <div class="me-3">
                        <select asp-for="PageSize" id="pageSize" class="form-select text-dark">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>

                    <div class="me-3">
                        <select asp-for="IsEnable" id="filterCriteria" class="form-select text-dark">
                            <option value="" selected>All</option>
                            <option value="true">Enabled</option>
                            <option value="false">Disabled</option>
                        </select>
                    </div>
                </form>
                <div>
                    <form id="searchForm">
                        <div class="search-wrapper">
                            <select asp-for="searchViewModel.StudentSearchCriteria" id="searchCriteria" class="form-select text-dark me-2">
                                <option value="" selected>All Search</option>
                                <option value="StudentRegNo">Registration Number</option>
                                <option value="DisplayName">Display Name</option>
                            </select>

                            <input asp-for="searchViewModel.StudentSearchQuery" type="text" id="searchQuery" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                
                
            </div>
        </div>
    </div>

    <div class="panel w-100" id="studentDetails">
        <div class="panel-body">
            <div class="table-responsive" id="studentsList">
                <!--Students list-->
               @*  @await Html.PartialAsync("_StudentsList") *@
                
            </div>
        </div>
    </div>
    

    <div class="addEdit">
        <div id="addStudentForm" class="container-fluid" style="display: none;">
        </div>
    </div>

    <div id="searchResults"></div>

    <div id="studentDetailsContainer"></div>

    

</div>




@section Scripts {
    <script src="~/js/student.js" asp-append-version="true"></script>
}
